devtools==0.12
fakeredis==2.20.0
fastapi==0.103
lupa==2.0
pottery==3.0.0
pydantic==2.4
python-dotenv==1.0.0
python-multipart==0.0.6
PyYAML==6.0
pyzmq==25.1.1
redis==4.2.2
requests==2.31.0
ulid-py==1.1.0
uvicorn==0.21
